<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <a routerLink="/" style="color: white;">Cafe critic</a>
      </div>
      <nav fxLayout="row" fxLayoutAlign="space-between" *appUserType="'user' else anonMenu">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
          <button mat-menu-item>Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item>Add new places</button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #anonMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>
